@model IEnumerable<VehicleViewModel>

<body>
    <div>
        <h1 class="d-flex justify-content-center" style="font-style: italic;font-size: 46px;color: rgb(0,0,0);margin-bottom: 14px;">Vehicles Information</h1>
    </div>
    @*    <div class="d-flex justify-content-center" style="margin: 5px;">
    <button class="btn btn-success" type="submit">
    <a asp-action="AddVehicle" asp-controller="Vehicle" style="text-decoration: none; color: #fff; font-size:20px;">Add Vehicle</a>
    </button>
    </div>
    <div class="col-md-6">
    <form asp-action="GetVehicleById" asp-controller="Vehicle" method="post">
    <div class="d-flex justify-content-center" style="margin: 5px;">
    <label class="form-label" style="font-size: 25px;">VehicleTypeId</label>
    <input name="vehicleTypeId" id="vehicleTypeId" type="number" style="width: 90px;margin-left: 6px;margin-right: 6px;border-radius: 9px;border-width: 3px;font-size: 25px;text-align: center;" min="1" />
    <button class="btn btn-info" type="submit" style="font-size: 20px;">Submit</button>
    </div>
    </form>
    </div>
    *@
    <div class="container d-flex justify-content-center">
        <div class="row">
            <div class="col-md-6">
                <div class="d-flex justify-content-end" style="margin: 5px;">
                    <button class="btn btn-success" type="submit">
                        <a asp-action="AddVehicle" asp-controller="Vehicle" style="text-decoration: none; color: #fff; font-size:20px;">Add Vehicle</a>
                    </button>
                </div>
            </div>
            <div class="col-md-6">
                <form asp-action="Sort" asp-controller="Vehicle" method="post">
                    <div class="d-flex justify-content-start" style="margin: 5px;">
                        <label class="form-label" style="font-size: 25px;">Sorting</label>
                        <select id="FieldName" name="FieldName" style="width: 400px;margin-left: 6px;margin-right: 6px;border-radius: 9px;border-width: 3px;font-size: 25px;text-align: center;">
                            <option selected disabled>Enter sorting field</option>
                            <option>Model</option>
                            <option>VehicleTypeName</option>
                            <option>Mileage</option>
                        </select>
                        <button class="btn btn-info" type="submit" style="font-size: 20px;">Sort</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div>
        <div class="table-responsive" style="border-radius: 21px; border-width: 2px;">
            <table class="table">
                <thead>
                    <tr>
                        <th>Vehicle Id</th>
                        <th>Vehicle Type Name</th>
                        <th>Model</th>
                        <th>Registration Number</th>
                        <th>Weight</th>
                        <th>Year</th>
                        <th>Mileage</th>
                        <th>Color</th>
                        <th>Fuel Consumption</th>
                        <th>Tank Capacity</th>
                        <th></th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var vehicle in Model)
                    {
                        <tr>
                            <td>@vehicle.VehicleId</td>
                            <td>@vehicle.VehicleTypeName</td>
                            <td>@vehicle.Model</td>
                            <td>@vehicle.RegistrationNumber</td>
                            <td>@vehicle.Weight</td>
                            <td>@vehicle.Year</td>
                            <td>@vehicle.Mileage</td>
                            <td>@vehicle.Color</td>
                            <td>@vehicle.FuelConsumption</td>
                            <td>@vehicle.TankCapacity</td>
                            <td>
                                <button class="btn btn-info" type="submit">
                                    @Html.ActionLink("Details","GetVehicleById","Vehicle",new{vehicle.VehicleId}, new {style = "text-decoration: none; color: #fff"})
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-danger" type="submit">
                                    @Html.ActionLink("Delete","DeleteVehicleById","Vehicle",new{vehicle.VehicleId}, new {style = "text-decoration: none; color: #fff"})
                                </button>
                            </td>
                            <td>
                                <button class="btn btn-primary" type="submit">
                                    @Html.ActionLink("Change","UpdateVehicle","Vehicle",new{vehicle.VehicleId}, new {style = "text-decoration: none; color: #fff"})
                                </button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</body>