@model VehicleViewModel
<body class="BGUpdateVehicle">
    <div>
        <div>
            <h1 class="d-flex justify-content-center" style="font-style: italic;font-size: 46px;color: rgb(0,0,0);margin-bottom: 14px;">Change Vehicle</h1>
        </div>
        <form class="justify-content-center" method="post">
            <div class="d-flex justify-content-center align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-md-6 d-flex justify-content-end">
                            <div style="margin-left: 11px;margin-bottom: 8px;"><label class="form-label" style="margin-right: 16px;padding: 3px;padding-top: 2px;padding-right: 2px;padding-bottom: 2px;padding-left: 2px;border-radius: 4px;border-width: 1px;font-size: 30px;font-style: italic;color: rgb(0,0,0);" for="VehicleTypeName">Registration Number</label><input id="VehicleTypeName" value="@Model.VehicleTypeName" class="form-control" type="text" style="border-radius: 7px;border-width: 1px;font-size: 30px;width: 324px;" required name="VehicleTypeName" /></div>
                        </div>
                        <div class="col-md-6 d-flex justify-content-start">
                            <div style="margin-left: 11px;margin-bottom: 8px;color: rgb(48,242,127);"><label class="form-label" style="margin-right: 16px;padding: 3px;padding-top: 2px;padding-right: 2px;padding-bottom: 2px;padding-left: 2px;border-radius: 4px;border-width: 1px;font-size: 30px;font-style: italic;color: rgb(0,0,0);" for="Model">Model</label><input id="Model" value="@Model.Model" class="form-control" type="text" style="border-radius: 7px;border-width: 1px;font-size: 30px;width: 324px;" required name="Model" /></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 d-flex justify-content-end">
                            <div style="margin-left: 11px;margin-bottom: 8px;"><label class="form-label" style="margin-right: 16px;padding: 3px;padding-top: 2px;padding-right: 2px;padding-bottom: 2px;padding-left: 2px;border-radius: 4px;border-width: 1px;font-size: 30px;font-style: italic;color: rgb(0,0,0);" for="RegistrationNumber">Registration Number</label><input id="RegistrationNumber" value="@Model.RegistrationNumber" class="form-control" type="text" style="border-radius: 7px;border-width: 1px;font-size: 30px;width: 324px;" required name="RegistrationNumber" /></div>
                        </div>
                        <div class="col-md-6 d-flex justify-content-start">
                            <div style="margin-left: 11px;margin-bottom: 8px;color: rgb(48,242,127);"><label class="form-label" style="margin-right: 16px;padding: 3px;padding-top: 2px;padding-right: 2px;padding-bottom: 2px;padding-left: 2px;border-radius: 4px;border-width: 1px;font-size: 30px;font-style: italic;color: rgb(0,0,0);" for="Weight">Weight</label><input id="Weight" value="@Model.Weight" class="form-control" type="text" style="width: 324px;font-size: 30px;border-radius: 7px;" required name="Weight" /></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 d-flex justify-content-end">
                            <div style="margin-left: 11px;margin-bottom: 8px;"><label class="form-label" style="margin-right: 16px;padding: 3px;padding-top: 2px;padding-right: 2px;padding-bottom: 2px;padding-left: 2px;border-radius: 4px;border-width: 1px;font-size: 30px;font-style: italic;color: rgb(0,0,0);" for="Year">Year</label><input id="Year" value="@Model.Year" class="form-control" type="month" name="Year" style="border-radius: 7px;font-size: 30px;width: 324px;" /></div>
                        </div>
                        <div class="col-md-6 d-flex justify-content-start">
                            <div style="margin-left: 11px;margin-bottom: 8px;"><label class="form-label" style="margin-right: 16px;padding: 3px;padding-top: 2px;padding-right: 2px;padding-bottom: 2px;padding-left: 2px;border-radius: 4px;border-width: 1px;font-size: 30px;font-style: italic;color: rgb(0,0,0);" for="Mileage">Mileage</label><input id="Mileage" value="@Model.Mileage" class="form-control" type="text" style="width: 324px;font-size: 30px;border-radius: 7px;" required name="Mileage" /></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 d-flex justify-content-end">
                            <div style="margin-left: 11px;margin-bottom: 8px;"><label class="form-label" style="margin-right: 16px;padding: 3px;padding-top: 2px;padding-right: 2px;padding-bottom: 2px;padding-left: 2px;border-radius: 4px;border-width: 1px;font-size: 30px;font-style: italic;color: rgb(0,0,0);" for="Color">Color</label><input id="Color" value="@Model.Color" class="form-control" type="text" style="border-radius: 7px;border-width: 1px;font-size: 30px;width: 324px;" required name="Color" /></div>
                        </div>
                        <div class="col-md-6 d-flex justify-content-start">
                            <div style="margin-left: 11px;margin-bottom: 8px;"><label class="form-label" style="margin-right: 16px;padding: 3px;padding-top: 2px;padding-right: 2px;padding-bottom: 2px;padding-left: 2px;border-radius: 4px;border-width: 1px;font-size: 30px;font-style: italic;color: rgb(0,0,0);" for="FuelConsumption">FuelConsumption</label><input id="FuelConsumption" value="@Model.FuelConsumption" class="form-control" type="text" style="width: 324px;font-size: 30px;border-radius: 7px;" required name="FuelConsumption" /></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center"><button class="btn btn-primary" type="submit" style="margin: 5px;font-size: 25px;margin-top: 10px;background: rgb(68,113,183);border-color: rgb(68,113,183);border-radius: 7px;">Update</button></div>
        </form>
    </div>
</body>