@model IEnumerable<Vehicles>

<table class="table">
    <thead>
        <tr>
            <th>VehicleId</th>
            <th>VehicleTypeId</th>
            <th>Model</th>
            <th>RegistrationNumber</th>
            <th>Weight</th>
            <th>Year</th>
            <th>Mileage</th>
            <th>Color</th>
            <th>FuelConsumption</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var vehicle in Model)
        {
            <tr>
                <td>@vehicle.VehicleId</td>
                <td>@vehicle.VehicleTypeId</td>
                <td>@vehicle.Model</td>
                <td>@vehicle.RegistrationNumber</td>
                <td>@vehicle.Weight</td>
                <td>@vehicle.Year</td>
                <td>@vehicle.Mileage</td>
                <td>@vehicle.Color</td>
                <td>@vehicle.FuelConsumption</td>
            </tr>
        }
    </tbody>
</table>