@model Vehicles


<p>
    Vehicle with Id = @Model.VehicleId
</p>

<table class="table">
    <thead>
        <tr>
            <th>VehicleId</th>
            <th>VehicleTypeId</th>
            <th>Model</th>
            <th>RegistrationNumber</th>
            <th>Weight</th>
            <th>Year</th>
            <th>Mileage</th>
            <th>Color</th>
            <th>FuelConsumption</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>@Model.VehicleId</td>
            <td>@Model.VehicleTypeId</td>
            <td>@Model.Model</td>
            <td>@Model.RegistrationNumber</td>
            <td>@Model.Weight</td>
            <td>@Model.Year</td>
            <td>@Model.Mileage</td>
            <td>@Model.Color</td>
            <td>@Model.FuelConsumption</td>
        </tr>
    </tbody>
</table>